{% extends 'layout/base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa fa-table mr-1"></i>{{ title }}
        </div>
        <div class="card-body">
            <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div><input type="submit" class="form-control btn btn-success w-45" value="Сохранить"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}